.card-conteudo {
    p {
        font-size: 1rem;
        color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.card-footer {
    footer {
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            color: yellow;
            text-align: center;
        }
    }
}
